# 기본 데이터 스크래핑

In [64]:
import requests
from bs4 import BeautifulSoup

url = "https://www.musinsa.com/ranking/best?period=month&age=ALL&mainCategory=002&subCategory=&leafCategory=&price=&golf=false&kids=false&newProduct=false&exclusive=false&discount=false&soldOut=false&page=1&viewType=small&priceMin=&priceMax="

user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36"

headers = {"User-Agent" : user_agent}
response = requests.get(url, headers)
response.raise_for_status()

soup = BeautifulSoup(response.text, 'lxml')

In [65]:
# 브랜드
brands = soup.select('form#goodsRankForm div.list-box.box div.article_info p.item_title a')

for i, brand in enumerate(brands) :
    i += 1
    print(i, brand.text)

1 드로우핏
2 스파오
3 내셔널지오그래픽
4 토피
5 노스페이스
6 쿠어
7 라퍼지스토어
8 스파오
9 파르티멘토
10 스파오
11 라퍼지스토어
12 코드그라피
13 예일
14 도프제이슨
15 예일
16 알파 인더스트리
17 비슬로우
18 무신사 스탠다드
19 코드그라피
20 내셔널지오그래픽
21 무신사 스탠다드
22 라퍼지스토어
23 라퍼지스토어
24 커버낫
25 라퍼지스토어
26 라퍼지스토어
27 내셔널지오그래픽
28 노이어
29 디스커버리 익스페디션
30 도프제이슨
31 무신사 스탠다드
32 무신사 스탠다드
33 내셔널지오그래픽
34 쿠어
35 무신사 스탠다드
36 라퍼지스토어
37 커버낫
38 커버낫
39 무신사 스탠다드
40 쿠어
41 무신사 스탠다드
42 후아유
43 드로우핏
44 커버낫
45 쿠어
46 예일
47 후아유
48 노스페이스
49 커버낫
50 키뮤어
51 라퍼지스토어
52 도프제이슨
53 무신사 스탠다드
54 내셔널지오그래픽
55 제멋
56 내셔널지오그래픽
57 메종미네드
58 디스커버리 익스페디션
59 파르티멘토
60 코드그라피
61 코드그라피
62 드로우핏
63 노스페이스
64 게스
65 코드그라피
66 인사일런스
67 케이투
68 후아유
69 무신사 스탠다드
70 예일
71 키뮤어
72 커버낫
73 무신사 스탠다드
74 라퍼지스토어
75 커버낫
76 라퍼지스토어
77 후아유
78 프리즘웍스
79 무신사 스탠다드
80 엠엘비
81 비슬로우
82 인사일런스
83 캘빈클라인 진
84 스파오
85 토피
86 파르티멘토
87 쿠어
88 디스이즈네버댓
89 노스페이스
90 라퍼지 포 우먼

In [66]:
# 제품명
names = soup.select('form#goodsRankForm div.list-box.box div.article_info p.list_info a')

for name in names :
    print(name['title'])

프리미어 퓨어 캐시미어 히든 싱글 코트 [BLACK]
베이직 푸퍼_SPJPC4TC11
N224MDW920 헤론 U넥 경량 다운 점퍼 CARBON BLACK
2WAY 스웻 후드 집업 (MELANGE GREY)
NJ1DN75A 남성 1996 에코 눕시 자켓
MTR 발마칸 코트 (블랙)
[리뉴얼 ver.][3M 신슐레이트]오리지널 M-1965 피쉬테일 파카_Original Khaki
베이직 퍼플리스 집업_SPFZC4TU01
[22F/W 리뉴얼] 오버사이즈 멜톤 더플 롱 코트 네이비
파스텔 푸퍼_SPJPC4TG01
버핑레더 오버핏 블루종_Black
[내피분리형] US-ARMY 밀리터리 피쉬테일 후드 롱파카_카키
REVERSIBLE WARM UP QUILTING JACKET BLACK / IVORY
오버핏 비건레더 싱글 자켓
(22FW) WARM+ UP QUILTING JACKET BLACK
MA-1 레귤러 Black
22FW OVERSIZED CASHMERE BALMACAAN COAT BLACK
캐시미어 블렌드 오버사이즈 싱글 코트 [블랙]
[DIVO] RDS 유틸리티 덕다운 푸파 숏패딩_블랙
N224MFJ910 남성 코스토니 플리스 뽀글이 후드 풀집업 SUGAR SWIZZLE IVORY
캐시미어 블렌드 오버사이즈 발마칸 코트 [블랙]
[리뉴얼 ver.][3M 신슐레이트] M-1965 피쉬테일 숏 파카_Vintage Black
울리치 발마칸 오버 코트_Black
리버시블 쉐르파 집업 자켓 아이보리
[무봉제]덕다운 심리스 미니멀 푸퍼 숏패딩_Black
[리뉴얼 ver.][3M 신슐레이트]오리지널 M-1965 피쉬테일 파카_Vintage Black
N224WDW920 여성 헤론 U넥 경량 덕다운 점퍼 L BEIGE
캐시미어 더블 브레스티드 코트 (블랙)
픽토르 U 구스다운 경량패딩 (BLACK)
솔리드 무톤 자켓
릴렉스드 베이식 블레이저 [블랙]
오버사이즈 MA-1 보머 재킷 [블랙]
N224MFJ910 남성 코스토니 플리스 뽀글이 후드 풀집업 CARBON BLACK
MTR 발마칸 코트 (멜란지토프)
우먼즈 캐시미어 블렌드 발마칸 로브 코트 [블랙]
덕다운 미니멀 블루종 패딩_Black
플리스 집업 자켓 블랙
RDS 커버라이트 카라리스 다운 점퍼 블랙
다운 푸퍼 숏 패딩 재킷 [블랙]
MTR 오버핏 더블 롱 코트 (블랙)
캐시미어 블렌드 대디 숄더 싱글 롱 코트 [블랙]
바시티 자켓 WHJJC4V24U
프리미어 퓨어 캐시미어 발마칸 코트 [BLACK]
리버시블 카라리스 쉐르파 집업 자켓 아이보리
퍼프 플라이트 MA-1 (블랙)
(22FW) WARM+ UP QUILTING JACKET IVORY
리버서블 후드웜업 [3color] WHJJC4T01U
NJ1DN50J 화이트라벨 노벨티 눕시 다운 자켓
숏 퀼팅 자켓 블랙
서플러스 울(WOOL) 65 세미오버 발마칸 코트_블랙
[매트블랙] 버핑레더 미니멀 포켓 블루종_Matt Black
오버핏 램스킨 싱글 자켓
리버서블 플리스 숏 패딩 재킷 [블랙/크림]
N224WDW920 여성 헤론 U넥 경량 덕 다운 점퍼 CARBON BLACK
리치 오버 MA-1 자켓 블랙 YHJK2269
N224MDW920 헤론 U넥 경량 다운 점퍼 BEIGE
BLACK DOUBLE LONG GOOSE DOWN
픽토르 U 구스다운 경량패딩 (IVORY)
[비건 레더] 필드 자켓 블랙
[DIVO] RDS 유틸리티 덕다운 푸파 숏패딩_쿨그레이
헤비 보아 플리스 무톤 자켓_블랙
프리미어 퓨어 캐시미어 로브 더블 코트 [BLACK]
NC3NN50J 화이트라벨 알칸 EX 온볼 코트
남녀공용 베이직 푸퍼 다운_MM4W9891
헤비 보아 플리스 무톤 자켓_베이지
오버사이즈 발마칸 코트 BLACK
씬에어(THINAIR)ECO LITE_Black
리버서블 덤블 숏푸퍼 [5color] WHJPC4V02U
오버사이즈 디태처블 후드 MA-1 보머 재킷 [블랙]
EMBROIDERY UNIVERSITY DAN FLEECE TRACK JACKET BLACK
서플러스 울(WOOL) 65 세미오버 더플 코트_네이비
RDS 씨빅 다운 숏 푸퍼 블랙
베이식 블레이저 [블랙]
덕다운 아르틱 후드 패딩_Black
리버시블 쉐르파 후디 집업 자켓 아이보리
[리뉴얼 ver.][3M 신슐레이트] M-1965 피쉬테일 숏 파카_Original Khaki
리버서블 후드웜업 [2color] WHJJC4T01U
VINCENT M1965 FISHTAIL PARKA 004 _ OLIVE
오버사이즈 블레이저 [블랙]
베이직 스몰로고 숏패딩 NY (Black)
22FW OVERSIZED M65 HOOD SHORT DOWN PARKA BLACK
MTR 캐시미어 발마칸 코트 BLACK
여 아이보리 숏 렝스 스탠드 카라 푸퍼 다운 재킷 J221163 ACF
리버서블 푸퍼_SPJDC4VC14
2WAY 스웻 후드 집업 (BLACK)
3M 신슐레이트 M-65 피시테일 코트 패딩 카키
오버사이즈 클래식 발마칸 코트 (멜란지차콜)
PERTEX® T Down Jacket Black
NJ4FN50J 화이트라벨 리모 플리스 자켓
[Woman]울리치 트렌치 맥코트_Black

In [67]:
prices = soup.select('div.right_area.page-contents-best form#goodsRankForm div.list-box.box div.article_info p.price')
# for price in prices :
#     ori_price = price.select_one('del')
#     if ori_price : # del 태그가 있는 항목만
#         print("할인전 가격: ", ori_price.text)
#         print("할인후 가격: ", "잘안되네요")
#     else : # 할인이 없는 항목
#         print("할인없는 제품", price.text)
for price in prices :
    #print(price.text)
    prices = price.text.split()
    # print(prices)
    if len(prices) == 2:
        print("할인전 가격: ", prices[0])
        print("할인후 가격: ", prices[1])
    else:
        print("할인없는 제품", prices[0])
    print('*'*20)

할인전 가격:  278,000원
할인후 가격:  219,000원
********************
할인없는 제품 69,900원
********************
할인없는 제품 149,000원
********************
할인전 가격:  45,000원
할인후 가격:  42,000원
********************
할인없는 제품 339,000원
********************
할인전 가격:  329,000원
할인후 가격:  296,100원
********************
할인전 가격:  138,000원
할인후 가격:  99,900원
********************
할인없는 제품 29,900원
********************
할인전 가격:  155,000원
할인후 가격:  124,000원
********************
할인없는 제품 69,900원
********************
할인전 가격:  94,000원
할인후 가격:  69,900원
********************
할인전 가격:  139,000원
할인후 가격:  98,900원
********************
할인전 가격:  129,000원
할인후 가격:  103,200원
********************
할인전 가격:  129,000원
할인후 가격:  89,000원
********************
할인전 가격:  99,000원
할인후 가격:  74,250원
********************
할인없는 제품 279,000원
********************
할인전 가격:  299,000원
할인후 가격:  254,150원
********************
할인없는 제품 159,900원
********************
할인전 가격:  124,000원
할인후 가격:  99,900원
********************
할인전 가격:  179,000원
할인후 가격:  159,000원
********************
할인없는 제품 199,900원
********************
할인전 가격:  129,000원
할인후 가격:  89,900원
********************
할인전 가격:  173,000원
할인후 가격:  118,000원
********************
할인전 가격:  129,000원
할인후 가격:  90,300원
********************
할인전 가격:  143,000원
할인후 가격:  89,900원
********************
할인전 가격:  138,000원
할인후 가격:  99,900원
********************
할인없는 제품 149,000원
********************
할인전 가격:  425,000원
할인후 가격:  297,000원
********************
할인없는 제품 159,000원
********************
할인전 가격:  186,000원
할인후 가격:  158,000원
********************
할인없는 제품 81,900원
********************
할인없는 제품 89,900원
********************
할인전 가격:  179,000원
할인후 가격:  159,000원
********************
할인전 가격:  329,000원
할인후 가격:  296,100원
********************
할인없는 제품 209,900원
********************
할인전 가격:  138,000원
할인후 가격:  99,800원
********************
할인전 가격:  79,000원
할인후 가격:  63,200원
********************
할인전 가격:  119,000원
할인후 가격:  95,200원
********************
할인없는 제품 119,900원
********************
할인전 가격:  334,000원
할인후 가격:  300,600원
********************
할인없는 제품 189,900원
********************
할인전 가격:  129,000원
할인후 가격:  116,100원
********************
할인전 가격:  308,000원
할인후 가격:  246,400원
********************
할인전 가격:  119,000원
할인후 가격:  83,300원
********************
할인전 가격:  235,000원
할인후 가격:  211,500원
********************
할인전 가격:  99,000원
할인후 가격:  74,250원
********************
할인전 가격:  99,900원
할인후 가격:  89,910원
********************
할인없는 제품 348,000원
********************
할인전 가격:  89,000원
할인후 가격:  71,200원
********************
할인전 가격:  209,000원
할인후 가격:  169,000원
********************
할인전 가격:  94,000원
할인후 가격:  69,900원
********************
할인전 가격:  339,000원
할인후 가격:  225,000원
********************
할인없는 제품 89,900원
********************
할인없는 제품 149,000원
********************
할인없는 제품 66,900원
********************
할인없는 제품 149,000원
********************
할인전 가격:  389,000원
할인후 가격:  299,000원
********************
할인없는 제품 159,000원
********************
할인전 가격:  111,700원
할인후 가격:  79,900원
********************
할인전 가격:  124,000원
할인후 가격:  99,900원
********************
할인전 가격:  109,000원
할인후 가격:  94,900원
********************
할인전 가격:  308,000원
할인후 가격:  246,400원
********************
할인없는 제품 258,000원
********************
할인전 가격:  108,000원
할인후 가격:  97,200원
********************
할인전 가격:  109,000원
할인후 가격:  94,900원
********************
할인전 가격:  377,000원
할인후 가격:  301,600원
********************
할인전 가격:  350,000원
할인후 가격:  252,000원
********************
할인전 가격:  129,000원
할인후 가격:  116,100원
********************
할인없는 제품 129,900원
********************
할인전 가격:  79,000원
할인후 가격:  59,250원
********************
할인전 가격:  209,000원
할인후 가격:  169,000원
********************
할인전 가격:  179,000원
할인후 가격:  125,300원
********************
할인전 가격:  79,900원
할인후 가격:  71,890원
********************
할인전 가격:  173,000원
할인후 가격:  138,000원
********************
할인전 가격:  149,000원
할인후 가격:  104,300원
********************
할인전 가격:  129,000원
할인후 가격:  89,900원
********************
할인전 가격:  99,900원
할인후 가격:  89,910원
********************
할인전 가격:  219,000원
할인후 가격:  186,150원
********************
할인전 가격:  83,900원
할인후 가격:  75,490원
********************
할인없는 제품 289,000원
********************
할인전 가격:  269,000원
할인후 가격:  228,650원
********************
할인전 가격:  422,000원
할인후 가격:  337,600원
********************
할인전 가격:  279,000원
할인후 가격:  251,100원
********************
할인전 가격:  89,900원
할인후 가격:  80,910원
********************
할인전 가격:  45,000원
할인후 가격:  42,000원
********************
할인전 가격:  155,000원
할인후 가격:  99,900원
********************
할인전 가격:  372,000원
할인후 가격:  334,800원
********************
할인전 가격:  219,000원
할인후 가격:  186,150원
********************
할인전 가격:  168,000원
할인후 가격:  159,600원
********************
할인전 가격:  163,000원
할인후 가격:  118,000원
********************

In [82]:
# 다 넣은 곳에서 쿠폰 있는거 없는거 찾기
all_items = soup.select('div.right_area.page-contents-best form#goodsRankForm div.list-box.box .li_box')
brands = soup.select('form#goodsRankForm div.list-box.box div.article_info p.item_title a')

for i, brand in zip(all_items, brands) :
    a = i.find('p', { 'class' : 'mu-icon mu-icon-coupon'})
    if a == None :
        print(brand.text, "쿠폰: x")
    else :
        print (brand.text, "쿠폰: o")

드로우핏 쿠폰: x
스파오 쿠폰: o
내셔널지오그래픽 쿠폰: x
토피 쿠폰: x
노스페이스 쿠폰: x
쿠어 쿠폰: x
라퍼지스토어 쿠폰: o
스파오 쿠폰: o
파르티멘토 쿠폰: o
스파오 쿠폰: o
라퍼지스토어 쿠폰: o
코드그라피 쿠폰: x
예일 쿠폰: o
도프제이슨 쿠폰: x
예일 쿠폰: o
알파 인더스트리 쿠폰: x
비슬로우 쿠폰: x
무신사 스탠다드 쿠폰: x
코드그라피 쿠폰: x
내셔널지오그래픽 쿠폰: x
무신사 스탠다드 쿠폰: x
라퍼지스토어 쿠폰: o
라퍼지스토어 쿠폰: o
커버낫 쿠폰: x
라퍼지스토어 쿠폰: o
라퍼지스토어 쿠폰: o
내셔널지오그래픽 쿠폰: x
노이어 쿠폰: x
디스커버리 익스페디션 쿠폰: x
도프제이슨 쿠폰: x
무신사 스탠다드 쿠폰: x
무신사 스탠다드 쿠폰: x
내셔널지오그래픽 쿠폰: x
쿠어 쿠폰: x
무신사 스탠다드 쿠폰: x
라퍼지스토어 쿠폰: o
커버낫 쿠폰: x
커버낫 쿠폰: x
무신사 스탠다드 쿠폰: o
쿠어 쿠폰: x
무신사 스탠다드 쿠폰: x
후아유 쿠폰: x
드로우핏 쿠폰: x
커버낫 쿠폰: x
쿠어 쿠폰: x
예일 쿠폰: o
후아유 쿠폰: x
노스페이스 쿠폰: x
커버낫 쿠폰: x
키뮤어 쿠폰: x
라퍼지스토어 쿠폰: o
도프제이슨 쿠폰: x
무신사 스탠다드 쿠폰: o
내셔널지오그래픽 쿠폰: x
제멋 쿠폰: x
내셔널지오그래픽 쿠폰: x
메종미네드 쿠폰: x
디스커버리 익스페디션 쿠폰: x
파르티멘토 쿠폰: o
코드그라피 쿠폰: o
코드그라피 쿠폰: o
드로우핏 쿠폰: x
노스페이스 쿠폰: x
게스 쿠폰: x
코드그라피 쿠폰: o
인사일런스 쿠폰: x
케이투 쿠폰: x
후아유 쿠폰: x
무신사 스탠다드 쿠폰: x
예일 쿠폰: o
키뮤어 쿠폰: x
커버낫 쿠폰: x
무신사 스탠다드 쿠폰: x
라퍼지스토어 쿠폰: o
커버낫 쿠폰: x
라퍼지스토어 쿠폰: o
후아유 쿠폰: x
프리즘웍스 쿠폰: x
무신사 스탠다드 쿠폰: x
엠엘비 쿠폰: x
비슬로우 쿠폰: x
인사일런스 쿠폰: x
캘빈클라인 진 쿠폰: x
스파오 쿠폰: o
토피 쿠폰: x
파르티멘토 쿠폰: o
쿠어 쿠폰: x
디스이즈네버댓 쿠폰: x
노스페이스 쿠폰: x
라퍼지 포 우먼 쿠폰: o

In [71]:
# 리뷰 수 
points = soup.select('div.right_area.page-contents-best form#goodsRankForm div.list-box.box div.article_info p.point span.count')

for point in points :
    print(point.text)

4,749
11,419
657
52,489
222
2,657
17,285
7,932
3,901
5,562
5,898
660
520
12,257
952
9,639
378
19,046
3,062
189
1,131
4,317
8,217
5,822
9,067
5,044
443
38
357
6,946
27,405
4,593
197
2,174
339
235
11,558
2,498
6,458
6,554
1,952
1,621
1,092
1,892
457
609
519
513
3,417
624
12,533
7,292
186
261
10,443
275
1,828
200
12,344
6,071
120
1,505
77
351
488
80
1,247
289
838
379
181
1,594
46,157
36
7,521
1,568
508
147
24,328
54
950
101
81
7,888
8,954
10,555
160
47
134
5,944

In [110]:
ii = 0
while ii < 90 :
    # 브랜드
    brands = soup.select('form#goodsRankForm div.list-box.box div.article_info p.item_title a')
   # for i, brand in enumerate(brands) :
    brd = "'"+brands[ii].text+"'"
    # 제품명
    names = soup.select('form#goodsRankForm div.list-box.box div.article_info p.list_info a')
   # for name in names :
    nm = "'"+(names[ii]['title'])+"'"
    # 다 넣은 곳에서 쿠폰 있는거 없는거 찾기
    all_items = soup.select('div.right_area.page-contents-best form#goodsRankForm div.list-box.box .li_box')
    #for i, brand in zip(all_items, brands) :
    a = all_items[ii].find('p', { 'class' : 'mu-icon mu-icon-coupon'})
    if a == None :
            coup =  "'x'"
    else :
            coup =  "'o'"
    # 리뷰 수
    points = soup.select('div.right_area.page-contents-best form#goodsRankForm div.list-box.box div.article_info p.point span.count')
    #for point in points :
    pp = points[ii].text
    # 가격대
    prices = soup.select('div.right_area.page-contents-best form#goodsRankForm div.list-box.box div.article_info p.price')
    #for price in prices :
    price11 = prices[ii].text.split()
    if len(price11) == 2:
        pri1 = price11[0].rstrip('원')
        pri2 = price11[1].rstrip('원')
    else:
        pri1 = price11[0].rstrip('원')
        pri2 = 0
    print('INSERT INTO Table VALUES (',ii+1, ',', brd, ',', nm, ',', pri1, ',', pri2, ',', pp , ',', coup ,')')
    ii += 1

INSERT INTO Table VALUES ( 1 , '드로우핏' , '프리미어 퓨어 캐시미어 히든 싱글 코트 [BLACK]' , 278,000 , 219,000 , 4,749 , 'x' )
INSERT INTO Table VALUES ( 2 , '스파오' , '베이직 푸퍼_SPJPC4TC11' , 69,900 , 0 , 11,419 , 'o' )
INSERT INTO Table VALUES ( 3 , '내셔널지오그래픽' , 'N224MDW920 헤론 U넥 경량 다운 점퍼 CARBON BLACK' , 149,000 , 0 , 657 , 'x' )
INSERT INTO Table VALUES ( 4 , '토피' , '2WAY 스웻 후드 집업 (MELANGE GREY)' , 45,000 , 42,000 , 52,489 , 'x' )
INSERT INTO Table VALUES ( 5 , '노스페이스' , 'NJ1DN75A 남성 1996 에코 눕시 자켓' , 339,000 , 0 , 222 , 'x' )
INSERT INTO Table VALUES ( 6 , '쿠어' , 'MTR 발마칸 코트 (블랙)' , 329,000 , 296,100 , 2,657 , 'x' )
INSERT INTO Table VALUES ( 7 , '라퍼지스토어' , '[리뉴얼 ver.][3M 신슐레이트]오리지널 M-1965 피쉬테일 파카_Original Khaki' , 138,000 , 99,900 , 17,285 , 'o' )
INSERT INTO Table VALUES ( 8 , '스파오' , '베이직 퍼플리스 집업_SPFZC4TU01' , 29,900 , 0 , 7,932 , 'o' )
INSERT INTO Table VALUES ( 9 , '파르티멘토' , '[22F/W 리뉴얼] 오버사이즈 멜톤 더플 롱 코트 네이비' , 155,000 , 124,000 , 3,901 , 'o' )
INSERT INTO Table VALUES ( 10 , '스파오' , '파스텔 푸퍼_SPJPC4TG01' , 69,900 , 0 , 5,562 , 'o' )
INSERT INTO Table VALUES ( 11 , '라퍼지스토어' , '버핑레더 오버핏 블루종_Black' , 94,000 , 69,900 , 5,898 , 'o' )
INSERT INTO Table VALUES ( 12 , '코드그라피' , '[내피분리형] US-ARMY 밀리터리 피쉬테일 후드 롱파카_카키' , 139,000 , 98,900 , 660 , 'x' )
INSERT INTO Table VALUES ( 13 , '예일' , 'REVERSIBLE WARM UP QUILTING JACKET BLACK / IVORY' , 129,000 , 103,200 , 520 , 'o' )
INSERT INTO Table VALUES ( 14 , '도프제이슨' , '오버핏 비건레더 싱글 자켓' , 129,000 , 89,000 , 12,257 , 'x' )
INSERT INTO Table VALUES ( 15 , '예일' , '(22FW) WARM+ UP QUILTING JACKET BLACK' , 99,000 , 74,250 , 952 , 'o' )
INSERT INTO Table VALUES ( 16 , '알파 인더스트리' , 'MA-1 레귤러 Black' , 279,000 , 0 , 9,639 , 'x' )
INSERT INTO Table VALUES ( 17 , '비슬로우' , '22FW OVERSIZED CASHMERE BALMACAAN COAT BLACK' , 299,000 , 254,150 , 378 , 'x' )
INSERT INTO Table VALUES ( 18 , '무신사 스탠다드' , '캐시미어 블렌드 오버사이즈 싱글 코트 [블랙]' , 159,900 , 0 , 19,046 , 'x' )
INSERT INTO Table VALUES ( 19 , '코드그라피' , '[DIVO] RDS 유틸리티 덕다운 푸파 숏패딩_블랙' , 124,000 , 99,900 , 3,062 , 'x' )
INSERT INTO Table VALUES ( 20 , '내셔널지오그래픽' , 'N224MFJ910 남성 코스토니 플리스 뽀글이 후드 풀집업 SUGAR SWIZZLE IVORY' , 179,000 , 159,000 , 189 , 'x' )
INSERT INTO Table VALUES ( 21 , '무신사 스탠다드' , '캐시미어 블렌드 오버사이즈 발마칸 코트 [블랙]' , 199,900 , 0 , 1,131 , 'x' )
INSERT INTO Table VALUES ( 22 , '라퍼지스토어' , '[리뉴얼 ver.][3M 신슐레이트] M-1965 피쉬테일 숏 파카_Vintage Black' , 129,000 , 89,900 , 4,317 , 'o' )
INSERT INTO Table VALUES ( 23 , '라퍼지스토어' , '울리치 발마칸 오버 코트_Black' , 173,000 , 118,000 , 8,217 , 'o' )
INSERT INTO Table VALUES ( 24 , '커버낫' , '리버시블 쉐르파 집업 자켓 아이보리' , 129,000 , 90,300 , 5,822 , 'x' )
INSERT INTO Table VALUES ( 25 , '라퍼지스토어' , '[무봉제]덕다운 심리스 미니멀 푸퍼 숏패딩_Black' , 143,000 , 89,900 , 9,067 , 'o' )
INSERT INTO Table VALUES ( 26 , '라퍼지스토어' , '[리뉴얼 ver.][3M 신슐레이트]오리지널 M-1965 피쉬테일 파카_Vintage Black' , 138,000 , 99,900 , 5,044 , 'o' )
INSERT INTO Table VALUES ( 27 , '내셔널지오그래픽' , 'N224WDW920 여성 헤론 U넥 경량 덕다운 점퍼 L BEIGE' , 149,000 , 0 , 443 , 'x' )
INSERT INTO Table VALUES ( 28 , '노이어' , '캐시미어 더블 브레스티드 코트 (블랙)' , 425,000 , 297,000 , 38 , 'x' )
INSERT INTO Table VALUES ( 29 , '디스커버리 익스페디션' , '픽토르 U 구스다운 경량패딩 (BLACK)' , 159,000 , 0 , 357 , 'x' )
INSERT INTO Table VALUES ( 30 , '도프제이슨' , '솔리드 무톤 자켓' , 186,000 , 158,000 , 6,946 , 'x' )
INSERT INTO Table VALUES ( 31 , '무신사 스탠다드' , '릴렉스드 베이식 블레이저 [블랙]' , 81,900 , 0 , 27,405 , 'x' )
INSERT INTO Table VALUES ( 32 , '무신사 스탠다드' , '오버사이즈 MA-1 보머 재킷 [블랙]' , 89,900 , 0 , 4,593 , 'x' )
INSERT INTO Table VALUES ( 33 , '내셔널지오그래픽' , 'N224MFJ910 남성 코스토니 플리스 뽀글이 후드 풀집업 CARBON BLACK' , 179,000 , 159,000 , 197 , 'x' )
INSERT INTO Table VALUES ( 34 , '쿠어' , 'MTR 발마칸 코트 (멜란지토프)' , 329,000 , 296,100 , 2,174 , 'x' )
INSERT INTO Table VALUES ( 35 , '무신사 스탠다드' , '우먼즈 캐시미어 블렌드 발마칸 로브 코트 [블랙]' , 209,900 , 0 , 339 , 'x' )
INSERT INTO Table VALUES ( 36 , '라퍼지스토어' , '덕다운 미니멀 블루종 패딩_Black' , 138,000 , 99,800 , 235 , 'o' )
INSERT INTO Table VALUES ( 37 , '커버낫' , '플리스 집업 자켓 블랙' , 79,000 , 63,200 , 11,558 , 'x' )
INSERT INTO Table VALUES ( 38 , '커버낫' , 'RDS 커버라이트 카라리스 다운 점퍼 블랙' , 119,000 , 95,200 , 2,498 , 'x' )
INSERT INTO Table VALUES ( 39 , '무신사 스탠다드' , '다운 푸퍼 숏 패딩 재킷 [블랙]' , 119,900 , 0 , 6,458 , 'o' )
INSERT INTO Table VALUES ( 40 , '쿠어' , 'MTR 오버핏 더블 롱 코트 (블랙)' , 334,000 , 300,600 , 6,554 , 'x' )
INSERT INTO Table VALUES ( 41 , '무신사 스탠다드' , '캐시미어 블렌드 대디 숄더 싱글 롱 코트 [블랙]' , 189,900 , 0 , 1,952 , 'x' )
INSERT INTO Table VALUES ( 42 , '후아유' , '바시티 자켓 WHJJC4V24U' , 129,000 , 116,100 , 1,621 , 'x' )
INSERT INTO Table VALUES ( 43 , '드로우핏' , '프리미어 퓨어 캐시미어 발마칸 코트 [BLACK]' , 308,000 , 246,400 , 1,092 , 'x' )
INSERT INTO Table VALUES ( 44 , '커버낫' , '리버시블 카라리스 쉐르파 집업 자켓 아이보리' , 119,000 , 83,300 , 1,892 , 'x' )
INSERT INTO Table VALUES ( 45 , '쿠어' , '퍼프 플라이트 MA-1 (블랙)' , 235,000 , 211,500 , 457 , 'x' )
INSERT INTO Table VALUES ( 46 , '예일' , '(22FW) WARM+ UP QUILTING JACKET IVORY' , 99,000 , 74,250 , 609 , 'o' )
INSERT INTO Table VALUES ( 47 , '후아유' , '리버서블 후드웜업 [3color] WHJJC4T01U' , 99,900 , 89,910 , 519 , 'x' )
INSERT INTO Table VALUES ( 48 , '노스페이스' , 'NJ1DN50J 화이트라벨 노벨티 눕시 다운 자켓' , 348,000 , 0 , 513 , 'x' )
INSERT INTO Table VALUES ( 49 , '커버낫' , '숏 퀼팅 자켓 블랙' , 89,000 , 71,200 , 3,417 , 'x' )
INSERT INTO Table VALUES ( 50 , '키뮤어' , '서플러스 울(WOOL) 65 세미오버 발마칸 코트_블랙' , 209,000 , 169,000 , 624 , 'x' )
INSERT INTO Table VALUES ( 51 , '라퍼지스토어' , '[매트블랙] 버핑레더 미니멀 포켓 블루종_Matt Black' , 94,000 , 69,900 , 12,533 , 'o' )
INSERT INTO Table VALUES ( 52 , '도프제이슨' , '오버핏 램스킨 싱글 자켓' , 339,000 , 225,000 , 7,292 , 'x' )
INSERT INTO Table VALUES ( 53 , '무신사 스탠다드' , '리버서블 플리스 숏 패딩 재킷 [블랙/크림]' , 89,900 , 0 , 186 , 'o' )
INSERT INTO Table VALUES ( 54 , '내셔널지오그래픽' , 'N224WDW920 여성 헤론 U넥 경량 덕 다운 점퍼 CARBON BLACK' , 149,000 , 0 , 261 , 'x' )
INSERT INTO Table VALUES ( 55 , '제멋' , '리치 오버 MA-1 자켓 블랙 YHJK2269' , 66,900 , 0 , 10,443 , 'x' )
INSERT INTO Table VALUES ( 56 , '내셔널지오그래픽' , 'N224MDW920 헤론 U넥 경량 다운 점퍼 BEIGE' , 149,000 , 0 , 275 , 'x' )
INSERT INTO Table VALUES ( 57 , '메종미네드' , 'BLACK DOUBLE LONG GOOSE DOWN' , 389,000 , 299,000 , 1,828 , 'x' )
INSERT INTO Table VALUES ( 58 , '디스커버리 익스페디션' , '픽토르 U 구스다운 경량패딩 (IVORY)' , 159,000 , 0 , 200 , 'x' )
INSERT INTO Table VALUES ( 59 , '파르티멘토' , '[비건 레더] 필드 자켓 블랙' , 111,700 , 79,900 , 12,344 , 'o' )
INSERT INTO Table VALUES ( 60 , '코드그라피' , '[DIVO] RDS 유틸리티 덕다운 푸파 숏패딩_쿨그레이' , 124,000 , 99,900 , 6,071 , 'o' )
INSERT INTO Table VALUES ( 61 , '코드그라피' , '헤비 보아 플리스 무톤 자켓_블랙' , 109,000 , 94,900 , 120 , 'o' )
INSERT INTO Table VALUES ( 62 , '드로우핏' , '프리미어 퓨어 캐시미어 로브 더블 코트 [BLACK]' , 308,000 , 246,400 , 1,505 , 'x' )
INSERT INTO Table VALUES ( 63 , '노스페이스' , 'NC3NN50J 화이트라벨 알칸 EX 온볼 코트' , 258,000 , 0 , 77 , 'x' )
INSERT INTO Table VALUES ( 64 , '게스' , '남녀공용 베이직 푸퍼 다운_MM4W9891' , 108,000 , 97,200 , 351 , 'x' )
INSERT INTO Table VALUES ( 65 , '코드그라피' , '헤비 보아 플리스 무톤 자켓_베이지' , 109,000 , 94,900 , 488 , 'o' )
INSERT INTO Table VALUES ( 66 , '인사일런스' , '오버사이즈 발마칸 코트 BLACK' , 377,000 , 301,600 , 80 , 'x' )
INSERT INTO Table VALUES ( 67 , '케이투' , '씬에어(THINAIR)ECO LITE_Black' , 350,000 , 252,000 , 1,247 , 'x' )
INSERT INTO Table VALUES ( 68 , '후아유' , '리버서블 덤블 숏푸퍼 [5color] WHJPC4V02U' , 129,000 , 116,100 , 289 , 'x' )
INSERT INTO Table VALUES ( 69 , '무신사 스탠다드' , '오버사이즈 디태처블 후드 MA-1 보머 재킷 [블랙]' , 129,900 , 0 , 838 , 'x' )
INSERT INTO Table VALUES ( 70 , '예일' , 'EMBROIDERY UNIVERSITY DAN FLEECE TRACK JACKET BLACK' , 79,000 , 59,250 , 379 , 'o' )
INSERT INTO Table VALUES ( 71 , '키뮤어' , '서플러스 울(WOOL) 65 세미오버 더플 코트_네이비' , 209,000 , 169,000 , 181 , 'x' )
INSERT INTO Table VALUES ( 72 , '커버낫' , 'RDS 씨빅 다운 숏 푸퍼 블랙' , 179,000 , 125,300 , 1,594 , 'x' )
INSERT INTO Table VALUES ( 73 , '무신사 스탠다드' , '베이식 블레이저 [블랙]' , 79,900 , 71,890 , 46,157 , 'x' )
INSERT INTO Table VALUES ( 74 , '라퍼지스토어' , '덕다운 아르틱 후드 패딩_Black' , 173,000 , 138,000 , 36 , 'o' )
INSERT INTO Table VALUES ( 75 , '커버낫' , '리버시블 쉐르파 후디 집업 자켓 아이보리' , 149,000 , 104,300 , 7,521 , 'x' )
INSERT INTO Table VALUES ( 76 , '라퍼지스토어' , '[리뉴얼 ver.][3M 신슐레이트] M-1965 피쉬테일 숏 파카_Original Khaki' , 129,000 , 89,900 , 1,568 , 'o' )
INSERT INTO Table VALUES ( 77 , '후아유' , '리버서블 후드웜업 [2color] WHJJC4T01U' , 99,900 , 89,910 , 508 , 'x' )
INSERT INTO Table VALUES ( 78 , '프리즘웍스' , 'VINCENT M1965 FISHTAIL PARKA 004 _ OLIVE' , 219,000 , 186,150 , 147 , 'x' )
INSERT INTO Table VALUES ( 79 , '무신사 스탠다드' , '오버사이즈 블레이저 [블랙]' , 83,900 , 75,490 , 24,328 , 'x' )

INSERT INTO Table VALUES ( 80 , '엠엘비' , '베이직 스몰로고 숏패딩 NY (Black)' , 289,000 , 0 , 54 , 'x' )
INSERT INTO Table VALUES ( 81 , '비슬로우' , '22FW OVERSIZED M65 HOOD SHORT DOWN PARKA BLACK' , 269,000 , 228,650 , 950 , 'x' )
INSERT INTO Table VALUES ( 82 , '인사일런스' , 'MTR 캐시미어 발마칸 코트 BLACK' , 422,000 , 337,600 , 101 , 'x' )
INSERT INTO Table VALUES ( 83 , '캘빈클라인 진' , '여 아이보리 숏 렝스 스탠드 카라 푸퍼 다운 재킷 J221163 ACF' , 279,000 , 251,100 , 81 , 'x' )
INSERT INTO Table VALUES ( 84 , '스파오' , '리버서블 푸퍼_SPJDC4VC14' , 89,900 , 80,910 , 7,888 , 'o' )
INSERT INTO Table VALUES ( 85 , '토피' , '2WAY 스웻 후드 집업 (BLACK)' , 45,000 , 42,000 , 8,954 , 'x' )
INSERT INTO Table VALUES ( 86 , '파르티멘토' , '3M 신슐레이트 M-65 피시테일 코트 패딩 카키' , 155,000 , 99,900 , 10,555 , 'o' )
INSERT INTO Table VALUES ( 87 , '쿠어' , '오버사이즈 클래식 발마칸 코트 (멜란지차콜)' , 372,000 , 334,800 , 160 , 'x' )
INSERT INTO Table VALUES ( 88 , '디스이즈네버댓' , 'PERTEX® T Down Jacket Black' , 219,000 , 186,150 , 47 , 'x' )
INSERT INTO Table VALUES ( 89 , '노스페이스' , 'NJ4FN50J 화이트라벨 리모 플리스 자켓' , 168,000 , 159,600 , 134 , 'x' )
INSERT INTO Table VALUES ( 90 , '라퍼지 포 우먼' , '[Woman]울리치 트렌치 맥코트_Black' , 163,000 , 118,000 , 5,944 , 'o' )

# pymysql

In [111]:
# 1단계 : import
import pymysql
# 2단계 : connect : mysql 접속
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='1234', db='mywork', charset='utf8')
# 3단계 : cusor : 커서 생성
cursor = db.cursor() 
# 4단계 : sql문 작성(테이블 생성 sql문 작성)
sql = """
    create table product (
        rank int not null,
        brand varchar(100) not null,
        title varchar(100) not null,
        ori_price int,
        discount_price int,
        review int,
        coupon varchar(10),
        primary key(rank)
);
"""
# 5단계 : sql 실행 명령(테이블 생성)
cursor.execute(sql) # cusor 객체의 execute() 메서드를 사용하여 CRUD 문장을 데이터베이스 서버로 보냄
# 6단계 : 실행 결과 확정 선언
db.commit() # CRUD가 완료되었으면, commit()메서드를 사용하여 데이터를 commit
# 7단계 : DB연결 해제
db.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'rank int not null,\n        brand varchar(100) not null,\n        title varchar(10' at line 2")